<a href="https://colab.research.google.com/github/Lore8614/Lore8614.github.io/blob/master/Big_Dreams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
%pwd
%ls '/content/drive/My Drive/Machine Learning Final'

ls: cannot access '/content/drive/My Drive/Machine Learning Final': No such file or directory

In [ ]:
pos_muts = pd.read_csv('/content/drive/My Drive/Machine Learning Final/H77_metadata.csv')
freqs = pd.read_csv('/content/drive/My Drive/Machine Learning Final/HCV1a_TsMutFreq_195.csv')
mut_rate = pd.read_csv('/content/drive/My Drive/Machine Learning Final/Geller.mutation.rates_update.csv')
freqs.head()

   Unnamed: 0  pos  D75002-  ...  Unnamed: 199  Unnamed: 200  Unnamed: 201
0           1  264      NaN  ...           NaN           NaN           1.0
1           2  265      NaN  ...           NaN           NaN           NaN
2           3  266      NaN  ...           NaN           NaN           3.0
3           4  267      NaN  ...           NaN           NaN           5.0
4           5  268      NaN  ...           NaN           NaN           3.0

[5 rows x 202 columns]

In [ ]:
mut_rate.head()

   Unnamed: 0 mutation      mut.rate
0           1       AU  1.395838e-06
1           2       CU  4.237410e-06
2           3       GU  9.062166e-07
3           4       UU  0.000000e+00
4           5       AA  0.000000e+00

In [ ]:
pos_muts.head()

   Unnamed: 0  pos ref    Type WTAA MutAA  bigAAChange  makesCpG    gene
0           1  264   t     syn    L     L            0         0  5' UTR
1           2  265   t  nonsyn    L     S            1         1  5' UTR
2           3  266   g     syn    L     L            0         0  5' UTR
3           4  267   g  nonsyn    G     S            1         0  5' UTR
4           5  268   g  nonsyn    G     D            1         0  5' UTR

In [ ]:
# Start Calculating costs